.loader {
  margin: 200px 200px 200px 200px;
  transform: translate(50%, 50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #263238;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
img {
  border-radius: 3%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
select {
  letter-spacing: 0.1em;

  text-align: center;
  color: aliceblue;
  margin: 0 auto;
  appearance: none;
  background-color: rgba(26, 24, 24, 0.8);
  border: none;
  padding: 12px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border-radius: 4px;
}
.breed-select {
  margin: 100px 0 50px 0;
}
.cat-wrapper {
  font-family: 'Josefin Sans', sans-serif;
  color: aliceblue;
  padding: 20px;
  border-radius: 3%;
  background-color: rgba(26, 24, 24, 0.8);
  text-align: center;
  width: 600px;
  transition: box-shadow, ease-in-out, 250ms;
}
.cat-wrapper:focus,
.cat-wrapper:hover {
  transform: translate(-7px, -7px);
  box-shadow: 7px 7px 5px rgba(26, 24, 24, 0.3);
}
p {
  letter-spacing: 0.1em;
}
